<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.safe">
    <!-- Xin cấp quyeenfn dùng blutooth cho ứng dụng safe -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- check is devivce -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Safe">
        <activity android:name=".login.create_new_account"></activity>
        <activity android:name=".login.setup_profile_user" />
        <activity android:name=".login.dieukhoan" />
        <activity android:name=".login.login_taikhoan" />
        <activity android:name=".Activity_second.about_device" />
        <activity android:name=".MainActivity" />
        <activity android:name=".login.Start_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>